html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Responsive Resets */
/*
@-ms-viewport {
  width: device-width;
}
*/
html {
  overflow-y: auto; }

img, video {
  max-width: 100%;
  height: auto; }

b, strong {
  font-weight: 700; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

body {
  color: #444;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 1.5em; }
  @media (min-width: 560px) {
    body {
      font-size: 1.3em; } }

p {
  margin: 0 auto 2em; }

em {
  font-style: italic; }

ul {
  margin-bottom: 1.75em; }

hr {
  clear: both;
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

dt {
  font-weight: 700; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  max-width: 100%; }

figure {
  margin: 0; }

embed,
iframe,
object {
  max-width: 100%; }

h1, h2, h3, h4 {
  font-weight: 900;
  margin-bottom: 0.5em;
  line-height: 1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  text-decoration: none;
  color: #458599; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.5em; }

a {
  color: #458599;
  transition: .5s; }
  a:hover, a:focus, a:active {
    color: #254853;
    background-color: #EAEAEA; }

blockquote {
  padding: .5em;
  margin: 1em;
  border: 0.06em solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.12em rgba(0, 0, 0, 0.1);
  font-style: italic;
  background-color: #EAEAEA; }

blockquote p {
  margin-bottom: 1.25em; }

cite {
  font-size: .8em;
  font-style: italic;
  margin-top: 0.25em;
  display: block; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #f7f5e4;
  border-top: 1px solid rgba(247, 245, 228, 0.9);
  border-bottom: 1px solid rgba(247, 245, 228, 0.4); }

.btn {
  background: #444;
  color: #FFF;
  padding: .5em 1em;
  border: solid #2b2b2b;
  border-width: 1px 1px 3px 1px;
  border-radius: 3px;
  font-size: .9em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  letter-spacing: 1.3px;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  white-space: normal;
  display: inline-block;
  margin-bottom: 1em;
  text-decoration: none; }

.btn:hover, .btn:active, .btn:focus {
  background-color: #5e5e5e;
  color: #FFF;
  border: solid #444;
  border-width: 1px 1px 3px 1px; }

.btn:hover, .btn:focus {
  transform: translateY(-2px); }

.btn:active {
  transform: translateY(2px); }

.btn-primary {
  background: #458599;
  border: solid #356676;
  border-width: 1px 1px 3px 1px; }

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #5ca0b5;
  border: solid #458599;
  border-width: 1px 1px 3px 1px; }

table {
  border: 1px solid #CCC;
  border-spacing: 0;
  border-collapse: collapse; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit; }

th {
  text-align: left;
  font-weight: 700;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

th, td {
  border: 1px solid #ddd;
  padding: 8px; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline;
    border-bottom: none; }

  .blog-post-single a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  .footNav, .footEmail, .footsocial, nav ul, nav .getInvolved, .slicknav_menu, .footSocial, .footLogo, .socialLinks {
    display: none; } }

/*# sourceMappingURL=main.css.map */
